@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// variabe
$mainfontcolor: #0E0E0E;
$pagecolor:    #F5F5F5;
$cardcoor: #fff;
$cardcoor-hover: #f5f4f493;
$productpricecolor : #0E42FD;
$bgcolor-pink: #FF5E84;
$bgcolor-green: #2BD9AF;

body {
    background-color: $pagecolor;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: $mainfontcolor;
}

.mw-header {
    .navbar {
        border-bottom: solid 4px rgb(217, 217, 217);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .mw-header-title{
        font-size: 25px;
        font-weight: 700;
        margin-top: 10px;
        a {
            color: $mainfontcolor;
            text-decoration: none;
        }
    }
}

.mw-card-product-wrapper {
    padding: 100px 25px 50px;
    .mw-card-product-heading {
        font-size: 25px;
        margin: 10px 0 30px;
        font-weight: 700;
    }
    .mw-card-product-card {
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        background-color:$cardcoor;
        padding: 20px 0 0 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
        cursor: pointer;
        &:hover {
            .mw-card-product-image {
                scale: (1.1);
                transition: all .5s ;
            }
        }

    .mw-card-product-title {
    font-size: 23px;
    font-weight: 700;
    margin: 5px 0 15px 0;
    text-transform: capitalize;
    }
    .mw-card-product-image {
        height: 220px;
        max-width: 60%;
    }
    .mw-card-product-bottom {
        border-radius: 20px;
        margin-top: 1rem;
        min-height: 160px;
        &.bgcolor-pink {
            background-color: $bgcolor-pink;
        }
        &.bgcolor-green {
            background-color: $bgcolor-green;
        }
        .mw-card-product-price {
            font-size: 25px;
            font-weight: 700;
            color: $productpricecolor;
            margin-top: 15px;
            text-align: center;
        }
        .mw-card-product-desc {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 0 auto 1rem ; 
            max-width: 72%;
        }
    }

}
.mw-product-category-link {
    text-decoration: none;
    &:hover {
        .mw-product-category {
            .mw-category-title { 
                font-size: 35px;
            }
        }
    }
    .mw-product-category {
        box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.15);
        padding: 25px;
        min-height: 200px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    
        .mw-category-title {
            font-size: 30px;
            font-weight: 700;
            color: white;
            text-align: center;
            transition: font-size .5s ease-out;;
        }
        &.bgcolor-pink {
            background-color: $bgcolor-pink;
        }
        &.bgcolor-green {
            background-color: $bgcolor-green;
        }
        }
}

}


// Desktop styling

@media (min-width:1025px) {
    .mw-header {
        .navbar {
            .container-fluid {
                display: flex;
                justify-content: center;
            }
        }
    }
    .mw-card-product-wrapper {
        padding: 100px 50px 50px;
        .mw-product-category-link {
            &:hover {
                .mw-product-category {
                    .mw-category-title { 
                        font-size: 55px;
                    }
                }
            }
            .mw-product-category {
                min-height: 320px;
                margin-bottom: 50px;
                padding: 50px;
                .mw-category-title {
                    font-size: 50px;
                }
            }
        }
    }
    .mw-header {
        .mw-header-title {
            font-size: 38px;
        }
    }
}